.postCardContainer {
  min-width: calc((100% - 30px) / 2);
  max-width: calc((100% - 30px) / 2);
  box-sizing: border-box;
  margin-top: 20px;
  @media only screen and (max-width: 800px) {
    & {
      min-width: calc((100%) / 1);
      max-width: calc((100%) / 1);
    }
  }
}

.postCard {
  border-radius: 4px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  display: block;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition-duration: 0.3s;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    transform: scale(0.98);
  }
}

.name {
  font-size: 18px;
  padding: 10px;
  color: black;
}

.date {
  font-size: 14px;
  padding: 0 10px;
  color: gray;
}

.description {
  font-size: 14px;
  color: gray;
  padding: 10px;
  display: block;
  display: -webkit-box;
  max-width: 50%;
  height: 89px;
  margin: 10px 0;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  width: 50%;
  overflow: hidden;
  display: flex;
}

.image {
  width: 100%;
}

.options {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
