.postCardContainer {
  min-width: calc((100% - 30px) / 3);
  max-width: calc((100% - 30px) / 3);
  box-sizing: border-box;
  margin-top: 20px;
  @media only screen and (max-width: 800px) {
    & {
      min-width: calc((100%) / 1);
      max-width: calc((100%) / 1);
    }
  }
}

.postCard {
  border-radius: 4px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.3s;
  &:hover {
    transform: scale(0.95);
  }
}

.image {
  width: 100%;
  border-radius: 4px 4px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.imageContainer {
  position: relative;
  padding-top: 60%;
  width: 100%;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.infoContainer {
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.name {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  padding: 0 10px;
  color: black;
  text-decoration: none;
}

.date {
  font-size: 16px;
  padding: 10px;
  color: gray;
  text-align: left;
}

.description {
  font-size: 14px;
  color: gray;
  padding: 0 10px;
  display: block;
  display: -webkit-box;
  height: 115px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 1;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-style: italic;
}

.options {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
