.header {
  text-align: center;
  position: relative;
}

.userName {
  padding: 0 10px;
}

.button {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.logo {
  margin: auto;
  margin-bottom: 20px;
}

.socialNetworks {
  margin-bottom: 20px;
}
