@font-face {
  font-family: GeosansLight;
  src: url("../assets/font/GeosansLight.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../assets/font/Roboto-Light.ttf");
}

:global(body) {
  font-family: Roboto;
}

.hr {
  width: 75%;
  margin: 20px auto;
}
