.articleCardContainer {
  min-width: calc((100% - 30px) / 3);
  max-width: calc((100% - 30px) / 3);
  box-sizing: border-box;
  margin-top: 20px;
  @media only screen and (max-width: 800px) {
    & {
      min-width: calc((100% - 30px) / 1);
      max-width: calc((100% - 30px) / 1);
    }
  }
}

.articleCard {
  border-radius: 4px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.3s;
  &:hover {
    transform: scale(0.95);
  }
}

.image {
  width: 100%;
  border-radius: 4px 4px 0 0;
  display: block;
}

.infoContainer {
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.name {
  font-weight: bold;
}

.description {
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 0 10px;
}
