.footer {
  text-align: center;
  position: relative;
}

.socialNetworks {
  margin-bottom: 20px;
}

.from {
  position: absolute;
  right: 0;
  color: gray;
  font-style: italic;
  font-size: 16px;
  top: 10px;
}
