@font-face {
  font-family: GeosansLight;
  src: url("../../../assets/font/GeosansLight.ttf");
}

.textInputContainer {
  width: 100%;
  margin-bottom: 20px;
}

.description {
  color: gray;
}

.textInput {
  height: 44px;
  border-radius: 4px;
  border: 1px solid lightgray;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: GeosansLight;
  width: 250px;
  &:focus {
    outline: none;
    border: 1px solid burlywood;
  }
  @media only screen and (max-width: 800px) {
    & {
      width: 100%;
    }
  }
}

.errorInput {
  border: 1px solid red;
}

.error {
  color: red;
}
