.mainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 800px) {
    & {
      display: none;
    }
  }
}

.mainMenuResponsive {
  display: none;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 800px) {
    & {
      display: flex;
    }
  }
}

.burger {
  position: absolute;
  top: 25px;
  left: 25px;
  &:hover {
    cursor: pointer;
  }
}

.tabsResponsive {
  display: flex;
  flex-direction: column;
}

.tab {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  @media only screen and (max-width: 800px) {
    & {
      margin: 10px 0;
    }
  }
  transition-duration: 0.3s;
  &:hover {
    color: gray;
    opacity: 0.6;
  }
}

.activeTab {
  color: gray;
}
